{% extends 'Dokter/baseReceptForm.html.twig' %}

{% block text %}<h1 class="text-center">Voeg Recept toe</h1>{% endblock %}
{% block button %}<button type="submit" class="btn btn-success">Voeg toe</button>{% endblock %}