{% extends 'base.html.twig' %}
{% block body%}
    {{ form_start(receptForm) }}
    {{ form_widget(receptForm) }}

    <button type="submit" class="btn btn-success">Voeg toe</button>
    {{ form_end(receptForm) }}
{% endblock %}