{% extends 'base.html.twig' %}
{% block title %}creëer medicijn{% endblock %}

{% block body %}
    <h1>Voeg nieuw medicijn toe</h1>

    {{ form_start(medicineForm) }}
    {{ form_widget(medicineForm) }}

    <button type="submit" class="btn btn-success">Maak</button>
    {{ form_end(medicineForm) }}
{% endblock %}