<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
</head>
<body>
{% block body %}<a href="#">go back</a>{% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>
